* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.text-italic {
  font-weight: 500;
  font-style: italic;
}

.text-bolder {
  font-weight: 700;
}

.App {
  font-size: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 4rem 0 16rem 0;
  color: white;
}

/* CONTENT */

div.currency-content {
  padding: 0 1rem;
  min-height: 540px;
}
